body {
	font: 14px/1.5 'Gudea', sans-serif, 'Helvetica Neue',Arial,'Liberation Sans';
	color:#333;
}
p{
	margin-bottom: 10px;
}
.alignleft
{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.alignright
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

.aligncenter
{
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: center;
	display: block;
}