body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #000000;
	color: #ffffff;
	font-size: 14px;
	line-height: 1.42857143;
	padding-top: 40px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

h3, .h3 {
	font-size: 24px;
}

p {
	margin: 0 0 10px;
}

.mceVisualAid {
	border: 1px dashed #BBBBBB;
}

/* MSIE specific */

* html body {
	scrollbar-3dlight-color: #F0F0EE;
	scrollbar-arrow-color: #676662;
	scrollbar-base-color: #F0F0EE;
	scrollbar-darkshadow-color: #DDDDDD;
	scrollbar-face-color: #E0E0DD;
	scrollbar-highlight-color: #F0F0EE;
	scrollbar-shadow-color: #F0F0EE;
	scrollbar-track-color: #F5F5F5;	
}
