/* Color scheme & Layout*/
#color_scheme_select input[type=radio], #layout_select input[type=radio]{
	display: none;
}
#color_scheme_select label, #layout_select label{
	padding: 0;
}
#color_scheme_select .radio, #layout_select .radio{
	border: 1px solid transparent;
	margin: 0px;
	padding: 5px 10px;
	background-color: transparent;
}
#color_scheme_select .radio.checked, #layout_select .radio.checked{
	border-color: black;
	background-color: #edeede;
}
#color_scheme_select img, #layout_select img{
	display: block;
}
/* Color scheme & Layout */

/* page preview */
.container.page_preview{
	width: 1404px;
}

#widgets {
	background: #ffffff;
	width: 100%;
	padding: 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#widgets h4.page-header {
	margin: 0;
}

.widget-title h4 {
	margin: 0 0 20px;
	font-size: 18px;
}

#widgets .widget{
	border: 1px solid #000000;
	background: #ffffff;
	min-height: 100px;
	margin-bottom: 10px;
	min-width: 184px;
	z-index: 2;
	padding: 10px;
}
#widgets-container .widget-control-actions, #widgets-container .widget-inside, #widgets-container .widget-form, .widget-container .widget-title, .widget-container .widget-description, .widget-action{
	display: none;
}

.widget-container. widget-inside{
	display: block;
}

#the-page .widget-action, #widgets .widget-title .move-widget{
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 10;
}

.widget-action span, #widgets .widget-title .move-widget {
	color: #ffffff;
	background-color: #f17100;
	padding: 3px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
}

.move-widget{
	cursor: move !important;
}

#the-page .widget{
	margin-top: 0 !important;
}

#the-page .widget-wrapper, #the-page .share-this, #the-page .external-site{
	margin-top: 25px !important;
	position: relative;
}

#the-page .widget-wrapper.hover{
	border: 2px solid #f17100;
}

#the-page .widget-wrapper{
	border: 2px solid transparent;
}

.widget.text .blank-widget{
	/*margin: -15px;*/
}

.ui-droppable {
	min-height: 200px;
	z-index: 1;
}

.placeholder {
	background-color: #BFB;
	border: 1px dashed #666;
	min-height: 58px;
	margin-top: 25px;
}

#widgets .ui-draggable{
	/*cursor: move;*/
}

#widgets .widget-description p {
	margin-bottom: 0;
}

.widget .panel{
	margin-bottom: 0;
}

.spinner {
	background: url(../img/spin_light.gif) no-repeat;
	background-size: 16px 16px;
	display: none;
	float: right;
	opacity: .7;
	filter: alpha(opacity=70);
	min-width: 16px;
	width: auto;
	height: 16px;
	margin: 5px 5px 0;
	padding-left: 17px;
	font-size: 12px;
}

span.image-control{
	display: block;
	margin-top: 10px;
}

.blank-image {
	min-height: 366px;
	background-color: #BFB;
	border: 1px dashed #666;
}

.blank-image .btn {
	margin-top: 180px;
}

.blank-video{
	min-height: 573px;
	background-color: #BFB;
	border: 1px dashed #666;
}

.blank-video .btn {
	margin-top: 235px;
}

.blank-widget{
	min-height: 100px;
	background-color: #BFB;
	border: 1px dashed #666;
}

.blank-widget .btn {
	margin-top: 33px;
}

.slider-image-form .form-group, .video-form .form-group{
	vertical-align: top;
}

.modal .form-inline {
	margin-top: 10px;
}

.video-form input[type=text]{
	width: 340px;
}

.slider-image-form.form-inline textarea {
	width: 250px;
	height: 100px;
}
.modal .form-inline .form-group, .modal .form-inline button {
	margin-right: 2px;
}

.action-button .ui-icon{
	display: inline-block;
}

p.drop-here {
	font-size: 34px;
	text-align: center;
	padding: 50px 0;
}

#footer .widget{
	clear: none;
}

.text_modal .modal-dialog, .feed_modal .modal-dialog, .template_options .modal-dialog {
	width: 800px;
}

/* gmap */
.gmap_modal .modal-dialog {
	width: 778px;
}

.gmap_modal .widget.gmap .contact-info {
	height: 260px;
	overflow: hidden;
}

.gmap_modal .gmap-container{
	margin-right: 0;
	padding: 0;
}

.gmap_modal .widget.gmap .contact-info {
	padding: 0;
}

.gmap_modal .controls {
	margin-top: 16px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.gmap_modal .pac-input {
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 100%;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
	color: #000000;
	margin-top: 0;
}

.gmap_modal .pac-input:focus {
	border-color: #4d90fe;
	margin-left: -1px;
	padding-left: 14px;  /* Regular padding-left + 1. */
	width: 100%;
}

.gmap_modal .pac-container {
	font-family: Roboto;
	z-index: 20;
}

.gmap_modal #type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

.gmap_modal #type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}
.gmap_modal.modal{
	z-index: 20;   
}
.modal-backdrop{
	z-index: 10;        
}​
/* gmap */

.widget-inside .widget {
	margin-top: 0;
}

 #widgets .widget, #widget .gradient-blue{
	background: #3072a9; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwNzJhOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ODkzZDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #3072a9 0%, #4893d4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3072a9), color-stop(100%,#4893d4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3072a9 0%,#4893d4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3072a9 0%,#4893d4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3072a9 0%,#4893d4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3072a9 0%,#4893d4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3072a9', endColorstr='#4893d4',GradientType=0 ); /* IE6-8 */
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #ffffff;
	border-color: #2b669a;
	position: relative;
}

/* Edit user form styles */
#edituser_form label {
    margin-top: 10px;
}

#edituser_button_top {
    width: 100%;
	height:50px;
}

#edituser_button_right {
    margin-top: 10px;
    float: right;
}

#edituser_error {
    display: none;
}

/* Add user form styles */
#adduser_form label {
    margin-top: 10px;
}

#edituser_button_top {
    width: 100%;
}

#adduser_form .btn-success {
    margin-top: 10px;
    float: right;
}

/* page preview */