/* Color scheme & Layout*/
#color_scheme_select input[type=radio], #layout_select input[type=radio]{
	display: none;
}
#color_scheme_select label, #layout_select label{
	padding: 0;
}
#color_scheme_select .radio, #layout_select .radio{
	border: 1px solid transparent;
	margin: 0px;
	padding: 5px 10px;
	background-color: transparent;
}
#color_scheme_select .radio.checked, #layout_select .radio.checked{
	border-color: black;
	background-color: #edeede;
}
#color_scheme_select img, #layout_select img{
	display: block;
}
/* Color scheme & Layout */

/* page preview */
.container.page_preview{
	width: 1404px;
}

#widgets {
	background: #ffffff;
	width: 100%;
	padding: 10px;
}

.widget-title h4 {
	margin: 0 0 20px;
	font-size: 18px;
}

#widgets .widget{
	border: 1px solid #000000;
	background: #ffffff;
	min-height: 100px;
	margin-bottom: 10px;
	min-width: 184px;
	z-index: 2;
	padding: 10px;
}
#widgets-container .widget-control-actions, #widgets-container .widget-inside, #widgets-container .widget-form, .widget-container .widget-top, .widget-container .widget-description{
	display: none;
}

.widget-container. widget-inside{
	display: block;
}

.ui-droppable {
	min-height: 200px;
	z-index: 1;
}

.placeholder {
	background-color: #BFB;
	border: 1px dashed #666;
	min-height: 58px;
	margin-top: 25px;
}

#widgets li.ui-draggable{
	cursor: move;
}

.spinner {
	background: url(../img/spin_light.gif) no-repeat;
	background-size: 16px 16px;
	display: none;
	float: right;
	opacity: .7;
	filter: alpha(opacity=70);
	min-width: 16px;
	width: auto;
	height: 16px;
	margin: 5px 5px 0;
	padding-left: 17px;
	font-size: 12px;
}

span.image-control{
	display: block;
	margin-top: 10px;
}

.blank-image {
	min-height: 366px;
	background-color: #BFB;
	border: 1px dashed #666;
}

.blank-image .btn {
	margin-top: 180px;
}

.blank-video{
	min-height: 573px;
	background-color: #BFB;
	border: 1px dashed #666;
}

.blank-video .btn {
	margin-top: 235px;
}

.slider-image-form .form-group, .video-form .form-group{
	vertical-align: top;
}

.slider-image-form, .video-form {
	margin-top: 10px;
}

.video-form input[type=text]{
	width: 340px;
}

.slider-image-form.form-inline textarea {
	width: 260px;
	height: 100px;
}
.image-wrapper.form-group, .image-title.form-group, .save-image, .save-video {
	margin-right: 2px;
}

/* Edit user form styles */
#edituser_form label {
    margin-top: 10px;
}

#edituser_button_top {
    width: 100%;
}

#edituser_form .btn-success {
    margin-top: 10px;
    float: right;
}

#edituser_error {
    display: none;
}

/* Add user form styles */
#adduser_form label {
    margin-top: 10px;
}

#edituser_button_top {
    width: 100%;
}

#adduser_form .btn-success {
    margin-top: 10px;
    float: right;
}

/* page preview */